{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1>Bienvenue sur la météo des villes !</h1>
        <ul class="list-group">

            {% for city in citys %}

            <li class="list-group-item">
                <img src="{{ asset('/images/snow.png') }}">
                <p>{{ city.city }}</p>
                <p>{{ city.date }} : {{ city.min }} / {{ city.max }}</p>  
            </li>

            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}