{% extends 'base.html.twig' %}

{% block body %}

    <h1>Météo des villes</h1>

    {% for cityId, data in weatherData %}

    <div class="media mt-5">
        <img src="{{ asset('images/' ~ data.weather ~ '.png') }}" class="mr-3" width="80">
        <div class="media-body">
            <h5 class="mt-0">
                <a href="{{ path('city_select', {'id' : cityId}) }}">{{ data.city }}</a>
            </h5>
            {{data.date | date('d/m') }} : {{ data.min }}°C / {{ data.max }}°C
        </div>
    </div>

    {% endfor %}

{% endblock %}