{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12">
        <h1>Bienvenue sur la météo des villes !</h1>
        <ul class="list-group">

            {% for data in weatherData %}

            <li class="list-group-item">
                <img src="{{ asset('/images/snow.png') }}">
                <p>{{ data.city }}</p>
                <p>{{ data.date }} : {{ data.min }}° / {{ data.max }}°</p>  
            </li>

            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}